:root {
  font: 16px / 1 sans-serif;
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  background-color: antiquewhite;
}
h1 {
  text-align: center;
}
p {
  margin-left: 2rem;
  margin-right: 2rem;
}
.flex-me {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.bottom-space {
  margin-bottom: 3rem;
}